.chat-history {
  border: 2px solid #939393;
  border-radius: 8px;
}

.list {
  padding: 16px 40px;
  list-style: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
}

.my-message {
  justify-content: flex-start;
  margin-right: auto;
}

.other-message {
  justify-content: flex-end;
  margin-left: auto;
}
