.message {
  background: #efefef;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  max-width: 480px;
  width: auto;
  display: inline-block;
  overflow: hidden;
}

.message-data img {
  border-radius: 40px;
  width: 40px
}
