<div class="chat-header">

  <div class="profile">
    <a href="#">
      <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
    </a>
  </div>

  <div class="chat-about">
    <h6>Aiden Chavez</h6>
    <small>Last seen: 2 hours ago</small>
  </div>

  <div class="col-lg-6 hidden-sm text-right">
    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
    <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
  </div>

</div>
